/*COLORES*/
/*MEDIDAS RECURRENTES*/
/*TIPOGRAFIA*/
/*MEDIDAS IMG CARROUSEL*/
/*MEIDAS RELATIVAS*/
/*CARDS*/
/*COLORES*/
/*MEDIDAS RECURRENTES*/
/*TIPOGRAFIA*/
/*MEDIDAS IMG CARROUSEL*/
/*MEIDAS RELATIVAS*/
/*CARDS*/
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 8vh;
  background-color: #962671;
}

.navigation-logo {
  height: 125px;
  margin-left: 50px;
}

.navigation-hamburger {
  display: none;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.navigation-hamburger span {
  display: block;
  background-color: #ffffff;
  height: 3px;
  width: 28px;
  margin: 10px auto;
  border-radius: 2px;
}

.navigation-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.navigation-links li {
  padding: 0 40px;
  list-style-type: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navigation-links li a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: 300;
}

.navigation-links li:hover {
  background-color: #680f4b;
}

@media screen and (max-width: 1024px) {
  .navigation-logo {
    margin-left: 11%;
  }
  .navigation-links li {
    padding: 0 26px;
  }
  .navigation-links a {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 768px) {
  .navigation-logo {
    padding-left: 25px;
  }
  .navigation-hamburger {
    display: block;
    position: absolute;
    top: 15px;
    right: 25px;
  }
  .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 25px 0;
  }
  .navigation-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 92vh;
    margin: 0;
    padding: 0;
    width: 100%;
    display: none;
  }
  .navigation-links li {
    width: 100%;
    text-align: center;
    padding: 20px;
  }
  .navigation-links.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation-hamburger-1.animado {
    -webkit-transform: rotate(-45deg) translate(-10px, 8px);
            transform: rotate(-45deg) translate(-10px, 8px);
  }
  .navigation-hamburger-2.animado {
    opacity: 0;
  }
  .navigation-hamburger-3.animado {
    -webkit-transform: rotate(45deg) translate(-10px, -8px);
            transform: rotate(45deg) translate(-10px, -8px);
  }
}

/*COLORES*/
/*MEDIDAS RECURRENTES*/
/*TIPOGRAFIA*/
/*MEDIDAS IMG CARROUSEL*/
/*MEIDAS RELATIVAS*/
/*CARDS*/
.carrousel {
  width: 95%;
  margin: auto;
  overflow: hidden;
}

.carrousel ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 400%;
  -webkit-animation: cambio 20s infinite;
          animation: cambio 20s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.carrousel li {
  width: 100%;
  list-style: none;
}

.carrousel img {
  width: 100%;
  height: 80%;
}

@-webkit-keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

/*.carrousel-img img{
    display: flex;
    justify-content: center;
    margin: 25px auto 0;
    width: $carrouselWidth;
    height: $carrouselHeight;

   
}*/
.masVendido {
  width: 100%;
}

.masVendido h2 {
  font-size: 40px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.masVendido-img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  margin: 0 90px 0 100px;
  grid-gap: 50px 121px;
}

.masVendido-img .masVendido-img--details img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.masVendido-img .masVendido-img--details span {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.masVendido-img img {
  width: 250px;
  height: 190px;
}

.masVendido-img--details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-radius: 10px;
  cursor: pointer;
}

.masVendido-img--details:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.novedades {
  width: 100%;
  margin-top: 200px;
  margin-bottom: 30px;
}

.novedades h2 {
  font-size: 40px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.novedades-img--details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-radius: 10px;
  cursor: pointer;
}

.novedades-img--details:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.novedades-img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  margin: 0 90px 0 100px;
  grid-gap: 50px 121px;
}

.novedades-img .novedades-img--details img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.novedades-img .novedades-img--details span {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.novedades-img img {
  width: 250px;
  height: 190px;
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-details {
  width: 40%;
  height: 50%;
  background: #ffffff;
  width: 50%;
  height: 60%;
  border-radius: 10px;
  position: relative;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  /*overflow: hidden;*/
}

.modal-details-close {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

.close {
  position: absolute;
  margin: 0px;
  top: 2%;
  left: 93%;
  display: inline-block;
  height: 37px;
  color: 000000;
  font-size: 28px;
  line-height: 25px;
  cursor: pointer;
}

.modal-details h2 {
  text-align: center;
  margin-top: 10%;
}

.modal-details a {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0% 35% 10%;
  text-decoration: none;
  color: #ffffff;
  width: 25%;
  padding: 10px;
  background-color: #AAC91E;
  border-radius: 10px;
  border: 3px #AAC91E;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.modal-details a img {
  width: 30px;
  height: 24px;
  margin-right: 20px;
}

.modal-details--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
  position: relative;
}

.modal-details--info span {
  position: absolute;
  left: 56%;
  font-size: 22px;
}

.modal-details--info h3 {
  position: relative;
  top: 10%;
  left: 18%;
}

.modal-details--info p {
  position: relative;
  top: 27%;
  width: 50%;
  right: 10%;
}

.modal-details--info img {
  height: 90%;
}

/*COLORES*/
/*MEDIDAS RECURRENTES*/
/*TIPOGRAFIA*/
/*MEDIDAS IMG CARROUSEL*/
/*MEIDAS RELATIVAS*/
/*CARDS*/
.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #962671;
}

.footer .footer-col1 {
  margin-left: 80px;
}

.footer .footer-col1 ul li {
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #ffffff;
  line-height: 30px;
}

.footer .footer-col2 ul li {
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #ffffff;
  line-height: 30px;
}

.footer .footer-col3 {
  margin: auto 80px;
}

.footer .footer-col3 img {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: 100%;
  }
  .footer .footer-col1 ul li {
    font-size: 14px;
  }
  .footer .footer-col2 ul li {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    width: 100%;
  }
  .footer-col3 {
    margin: 25px 0 0 13px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    width: 100%;
  }
  .footer .footer-col1 {
    margin: 25px 0px 0px 0px;
  }
  .footer .footer-col2 {
    margin: 25px 0px 0px 13px;
  }
  .footer .footer-col3 {
    margin: 42px 0px 0px 5px;
  }
}

/*COLORES*/
/*MEDIDAS RECURRENTES*/
/*TIPOGRAFIA*/
/*MEDIDAS IMG CARROUSEL*/
/*MEIDAS RELATIVAS*/
/*CARDS*/
.rubores {
  width: 100%;
  margin-bottom: 30px;
}

.rubores .rubores-firstBlock {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  margin: 0 50px 0 50px;
  grid-gap: 50px 37px;
}

.rubores h2 {
  font-size: 40px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rubores-firstBlock--details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 200px;
  cursor: pointer;
}

.rubores-firstBlock--details img {
  width: 250px;
  height: 190px;
}

.rubores-firstBlock--details span {
  text-align: center;
  font-size: 18px;
}

.rubores-firstBlock--details a {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px 0px 0px 37px;
  text-decoration: none;
  color: #ffffff;
  width: 150px;
  padding: 10px;
  background-color: #AAC91E;
  border-radius: 10px;
  border: 3px #AAC91E;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.rubores-firstBlock--details a img {
  width: 30px;
  height: 24px;
  margin-right: 20px;
}

.rubores-firstBlock--details--img {
  background-color: #962671;
}

.rubores-second {
  margin-top: 100px;
}

/*COLORES*/
/*MEDIDAS RECURRENTES*/
/*TIPOGRAFIA*/
/*MEDIDAS IMG CARROUSEL*/
/*MEIDAS RELATIVAS*/
/*CARDS*/
.delineadores {
  width: 100%;
  margin-bottom: 30px;
}

.delineadores .delineadores-firstBlock {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  margin: 0 50px 0 50px;
  grid-gap: 50px 134px;
}

.delineadores h2 {
  font-size: 40px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.delineadores-firstBlock--details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 200px;
  cursor: pointer;
}

.delineadores-firstBlock--details img {
  width: 250px;
  height: 190px;
}

.delineadores-firstBlock--details span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
}

.delineadores-firstBlock--details a {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px 0px 0px 37px;
  text-decoration: none;
  color: #ffffff;
  width: 150px;
  padding: 10px;
  background-color: #AAC91E;
  border-radius: 10px;
  border: 3px #AAC91E;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.delineadores-firstBlock--details a img {
  width: 30px;
  height: 24px;
  margin-right: 20px;
}

.delineadores-firstBlock--details--img {
  background-color: #962671;
}

.delineadores-second {
  margin-top: 100px;
}

/*@media screen and (max-width:1024px){
   .delineadores .delineadores-firstBlock{
         display: grid;
         grid-template-columns: auto auto auto;
         grid-gap: 50px 93px;
     }
 }
 @media screen and (max-width:767px){
   
    .delineadores .delineadores-firstBlock{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 50px 93px;
    }
  
}*/
/*COLORES*/
/*MEDIDAS RECURRENTES*/
/*TIPOGRAFIA*/
/*MEDIDAS IMG CARROUSEL*/
/*MEIDAS RELATIVAS*/
/*CARDS*/
.sombras {
  width: 100%;
  margin-bottom: 30px;
}

.sombras .sombras-firstBlock {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  margin: 0 50px 0 50px;
  grid-gap: 50px 134px;
}

.sombras h2 {
  font-size: 40px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sombras-firstBlock--details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 200px;
  cursor: pointer;
}

.sombras-firstBlock--details img {
  width: 250px;
  height: 190px;
}

.sombras-firstBlock--details span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
}

.sombras-firstBlock--details a {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px 0px 0px 37px;
  text-decoration: none;
  color: #ffffff;
  width: 150px;
  padding: 10px;
  background-color: #AAC91E;
  border-radius: 10px;
  border: 3px #AAC91E;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.sombras-firstBlock--details a img {
  width: 30px;
  height: 24px;
  margin-right: 20px;
}

.sombras-second {
  margin-top: 100px;
}

/*COLORES*/
/*MEDIDAS RECURRENTES*/
/*TIPOGRAFIA*/
/*MEDIDAS IMG CARROUSEL*/
/*MEIDAS RELATIVAS*/
/*CARDS*/
.labiales {
  width: 100%;
  margin-bottom: 30px;
}

.labiales .labiales-firstBlock {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  margin: 0 50px 0 50px;
  grid-gap: 50px 134px;
}

.labiales h2 {
  font-size: 40px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.labiales-firstBlock--details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 200px;
  cursor: pointer;
}

.labiales-firstBlock--details img {
  width: 250px;
  height: 190px;
}

.labiales-firstBlock--details span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
}

.labiales-firstBlock--details a {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px 0px 0px 37px;
  text-decoration: none;
  color: #ffffff;
  width: 150px;
  padding: 10px;
  background-color: #AAC91E;
  border-radius: 10px;
  border: 3px #AAC91E;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.labiales-firstBlock--details a img {
  width: 30px;
  height: 24px;
  margin-right: 20px;
}

.labiales-firstBlock--details--img {
  background-color: #962671;
}

.labiales-second {
  margin-top: 100px;
}

/*COLORES*/
/*MEDIDAS RECURRENTES*/
/*TIPOGRAFIA*/
/*MEDIDAS IMG CARROUSEL*/
/*MEIDAS RELATIVAS*/
/*CARDS*/
.esmaltes {
  width: 100%;
  margin-bottom: 30px;
}

.esmaltes .esmaltes-firstBlock {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  margin: 0 50px 0 50px;
  grid-gap: 50px 134px;
}

.esmaltes h2 {
  font-size: 40px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.esmaltes-firstBlock--details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 200px;
  cursor: pointer;
}

.esmaltes-firstBlock--details img {
  width: 250px;
  height: 190px;
}

.esmaltes-firstBlock--details span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
}

.esmaltes-firstBlock--details a {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px 0px 0px 37px;
  text-decoration: none;
  color: #ffffff;
  width: 150px;
  padding: 10px;
  background-color: #AAC91E;
  border-radius: 10px;
  border: 3px #AAC91E;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.esmaltes-firstBlock--details a img {
  width: 30px;
  height: 24px;
  margin-right: 20px;
}

.esmaltes-second {
  margin-top: 100px;
}

/*HOME*/
@media screen and (max-width: 1024px) {
  .carrousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .carrousel .carrousel-img img {
    width: 900px;
    height: 400px;
  }
  .masVendido {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 40px;
  }
  .masVendido h2 {
    font-size: 30px;
  }
  .masVendido-img {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-gap: 43px 78px;
  }
  .masVendido-img--details img {
    width: 50%;
    height: 56%;
  }
  .masVendido-img .masVendido-img--details span {
    font-size: 20px;
    margin-right: 90px;
  }
  .novedades {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
  }
  .novedades h2 {
    font-size: 30px;
  }
  .novedades-img {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-gap: 43px 78px;
  }
  .novedades-img .novedades-img--details img {
    width: 50%;
    height: 56%;
  }
  .novedades-img .novedades-img--details span {
    font-size: 20px;
    margin-right: 90px;
  }
  /*RUBORES*/
  .rubores .rubores-firstBlock {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    grid-gap: 49px 100px;
  }
  /*DELINEADORES*/
  .delineadores .delineadores-firstBlock {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    grid-gap: 49px 100px;
  }
  /*SOMBRAS*/
  .sombras .sombras-firstBlock {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    grid-gap: 50px 93px;
  }
  /*LABIALES*/
  .labiales .labiales-firstBlock {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    grid-gap: 50px 93px;
  }
  /*ESMALTES*/
  .esmaltes .esmaltes-firstBlock {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    grid-gap: 50px 93px;
  }
}

@media screen and (max-width: 768px) {
  .carrousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .masVendido {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 131%;
  }
  .novedades {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 131%;
  }
  /*RUBORES*/
  .rubores .rubores-firstBlock {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-gap: 49px 100px;
  }
  /*DELINEADORES*/
  .delineadores .delineadores-firstBlock {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-gap: 49px 100px;
  }
  /*SOMBRAS*/
  .sombras .sombras-firstBlock {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-gap: 49px 100px;
  }
  /*LABIALES*/
  .labiales .labiales-firstBlock {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-gap: 49px 100px;
  }
  /*ESMALTES*/
  .esmaltes .esmaltes-firstBlock {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-gap: 49px 100px;
  }
}

@media screen and (max-width: 425px) {
  .carrousel {
    width: 100%;
  }
  .carrousel .carrousel-img img {
    width: 430px;
    height: 250px;
  }
  .masVendido {
    width: 90%;
  }
  .masVendido-img {
    margin: 0px 0px 0 40px;
  }
  .masVendido-img .masVendido-img--details span {
    font-size: 13px;
    margin-right: 40px;
  }
  .novedades {
    width: 100%;
  }
  .novedades-img {
    margin: 0px 0px 0 40px;
  }
  .novedades-img .novedades-img--details span {
    font-size: 13px;
    margin-right: 40px;
  }
  /*RUBORES*/
  .rubores .rubores-firstBlock {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-gap: 49px 11px;
  }
  .rubores-firstBlock--details {
    margin-bottom: 90px;
  }
  .rubores-firstBlock--details img {
    width: 140px;
    height: 130px;
  }
  .rubores-firstBlock--details span {
    font-size: 14px;
  }
  .rubores-firstBlock--details a {
    font-size: 20px;
    width: 130px;
    padding: 7px;
    margin: 5px 0px 0px 18px;
  }
  /*DELINEADORES*/
  .delineadores .delineadores-firstBlock {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-gap: 49px 11px;
  }
  .delineadores-firstBlock--details {
    margin-bottom: 90px;
  }
  .delineadores-firstBlock--details img {
    margin-left: 17px;
    width: 140px;
    height: 130px;
  }
  .delineadores-firstBlock--details span {
    font-size: 14px;
  }
  .delineadores-firstBlock--details a {
    margin: 5px 0px 0px 18px;
    font-size: 20px;
    width: 130px;
    padding: 7px;
  }
  /*SOMBRAS*/
  .sombras .sombras-firstBlock {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-gap: 49px 11px;
  }
  .sombras-firstBlock--details {
    margin-bottom: 90px;
  }
  .sombras-firstBlock--details img {
    margin-left: 17px;
    width: 140px;
    height: 130px;
  }
  .sombras-firstBlock--details span {
    font-size: 14px;
  }
  .sombras-firstBlock--details a {
    margin: 5px 0px 0px 18px;
    font-size: 20px;
    width: 130px;
    padding: 7px;
  }
  /*LABIALES*/
  .labiales .labiales-firstBlock {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-gap: 49px 11px;
  }
  .labiales-firstBlock--details {
    margin-bottom: 90px;
  }
  .labiales-firstBlock--details img {
    margin-left: 17px;
    width: 140px;
    height: 130px;
  }
  .labiales-firstBlock--details span {
    font-size: 14px;
  }
  .labiales-firstBlock--details a {
    margin: 5px 0px 0px 18px;
    font-size: 20px;
    width: 130px;
    padding: 7px;
  }
  /*ESMALTES*/
  .esmaltes .esmaltes-firstBlock {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-gap: 49px 11px;
  }
  .esmaltes-firstBlock--details {
    margin-bottom: 90px;
  }
  .esmaltes-firstBlock--details img {
    margin-left: 17px;
    width: 140px;
    height: 130px;
  }
  .esmaltes-firstBlock--details span {
    font-size: 14px;
  }
  .esmaltes-firstBlock--details a {
    margin: 5px 0px 0px 18px;
    font-size: 20px;
    width: 130px;
    padding: 7px;
  }
}

@media screen and (max-width: 320px) {
  .carrousel {
    width: 100%;
  }
  .carrousel .carrousel-img img {
    width: 280px;
    height: 150px;
  }
  .masVendido {
    width: 74%;
  }
  .masVendido h2 {
    font-size: 20px;
  }
  .masVendido-img {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 43px 78px;
  }
  .masVendido-img {
    margin: 0px 0px 0 70px;
  }
  .masVendido-img {
    margin: 0px 0px 0 70px;
  }
  .masVendido-img--details span {
    font-size: 15px;
  }
  .novedades {
    width: 94%;
  }
  .novedades h2 {
    font-size: 20px;
  }
  .novedades-img--details {
    margin-left: 36px;
  }
  .novedades-img {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 43px 78px;
  }
  .novedades-img {
    margin: 0px 0px 0 70px;
  }
  .novedades-img {
    margin: 0px 0px 0 60px;
  }
  .novedades-img .novedades-img--details span {
    font-size: 15px;
    margin-right: 91px;
  }
  /*RUBORES*/
  .rubores h2 {
    font-size: 20px;
  }
  .rubores .rubores-firstBlock {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 49px 11px;
  }
  .rubores-firstBlock--details {
    margin-bottom: 90px;
    margin-left: 45px;
  }
  .rubores-firstBlock--details img {
    width: 140px;
    height: 130px;
  }
  .rubores-firstBlock--details span {
    font-size: 14px;
  }
  .rubores-firstBlock--details a {
    font-size: 17px;
    width: 90px;
    padding: 5px;
    margin: 5px 0px 0px 26px;
  }
  .rubores-firstBlock--details a img {
    width: 40px;
    height: 29px;
    margin-right: 14px;
  }
  /*DELINEADORES*/
  .delineadores h2 {
    font-size: 20px;
  }
  .delineadores .delineadores-firstBlock {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 49px 11px;
  }
  .delineadores-firstBlock--details {
    margin-bottom: 90px;
    margin-left: 45px;
  }
  .delineadores-firstBlock--details img {
    width: 140px;
    height: 130px;
  }
  .delineadores-firstBlock--details span {
    font-size: 14px;
  }
  .delineadores-firstBlock--details a {
    font-size: 17px;
    width: 90px;
    padding: 5px 5px 5px 18px;
    margin: 5px 0px 0px 26px;
  }
  .delineadores-firstBlock--details a img {
    width: 40px;
    height: 29px;
    margin-left: -10px;
  }
  /*SOMBRAS*/
  .sombras .sombras-firstBlock {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 49px 11px;
  }
  .sombras-firstBlock--details {
    margin-bottom: 90px;
    margin-left: 45px;
  }
  .sombras-firstBlock--details img {
    width: 140px;
    height: 130px;
  }
  .sombras-firstBlock--details span {
    font-size: 14px;
  }
  .sombras-firstBlock--details a {
    margin: 5px 0px 0px 18px;
    font-size: 20px;
    width: 130px;
    padding: 7px;
  }
  /*LABIALES*/
  .labiales .labiales-firstBlock {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 49px 11px;
  }
  .labiales-firstBlock--details {
    margin-bottom: 90px;
    margin-left: 45px;
  }
  .labiales-firstBlock--details img {
    width: 140px;
    height: 130px;
  }
  .labiales-firstBlock--details span {
    font-size: 14px;
  }
  .labiales-firstBlock--details a {
    margin: 5px 0px 0px 18px;
    font-size: 20px;
    width: 130px;
    padding: 7px;
  }
  /*ESMALTES*/
  .esmaltes .esmaltes-firstBlock {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-gap: 49px 11px;
  }
  .esmaltes-firstBlock--details {
    margin-bottom: 90px;
    margin-left: 45px;
  }
  .esmaltes-firstBlock--details img {
    width: 140px;
    height: 130px;
  }
  .esmaltes-firstBlock--details span {
    font-size: 14px;
  }
  .esmaltes-firstBlock--details a {
    margin: 5px 0px 0px 18px;
    font-size: 20px;
    width: 130px;
    padding: 7px;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
/*# sourceMappingURL=styles.css.map */