@import "variables";

.footer{
    width: $widht;
    display: flex;
    justify-content: space-between;
    background-color: $principalColor;
    .footer-col1{
        margin-left: 80px;
    }
    .footer-col1 ul li{
        list-style:  none;
        font-family: $fonts;
        font-size: $eighteen;
        color: $colorText1;
        line-height: $thirtySize;
    }
    .footer-col2 ul li{
        list-style:  none;
        font-family: $fonts;
        font-size: $eighteen;
        color: $colorText1;
        line-height: $thirtySize;
    }
    .footer-col3{
        margin: auto 80px  ;

    }
    .footer-col3 img{
        width: $fourtySize;
        height:$fourtySize;
    }
}

@media screen and (max-width: 1024px) {
    .footer{
        width: 100%;
    }

    .footer .footer-col1 ul li{
        font-size: 14px;
    }
    .footer .footer-col2 ul li{
        font-size: 14px;
    }
}
@media screen and (max-width: 768px) {

    .footer {
        width: 100%;
      }
}
@media screen and (max-width: 480px) {
      
    .footer {
        width: 100%;
      }
    .footer-col3{
        margin: 25px 0 0 13px;
    }

}
@media screen and (max-width: 320px) {
      
    .footer {
        width: 100%;
      }
      .footer .footer-col1{
        margin: 25px 0px 0px 0px;
    }
    .footer .footer-col2{
        margin: 25px 0px 0px 13px;
    }

    .footer .footer-col3{
        margin: 42px 0px 0px 5px
    }

}