@import "variables";

.footer{
    width: $widht;
    display: flex;
    justify-content: space-between;
    background-color: $principalColor;
    .footer-col1{
        margin-left: 80px;
    }
    .footer-col1 ul li{
        list-style:  none;
        font-family: $fonts;
        font-size: $eighteen;
        color: $colorText1;
        line-height: $thirtySize;
    }
    .footer-col2 ul li{
        list-style:  none;
        font-family: $fonts;
        font-size: $eighteen;
        color: $colorText1;
        line-height: $thirtySize;
    }
    .footer-col3{
        margin: auto 80px  ;

    }
    .footer-col3 img{
        width: $fourtySize;
        height:$fourtySize;
    }
}

