@import "variables";
.navigation{
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 8vh;
  background-color: #962671;
}
.navigation-logo{
  height: 125px;
  margin-left: 50px;
}
.navigation-hamburger{
  display: none;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}
.navigation-hamburger span{
  display: block;
  background-color: #ffffff;
  height: 3px;
  width: 28px;
  margin: 10px auto;
  border-radius: 2px;
}
.navigation-links{
  display: flex;
  padding: 0;

}
.navigation-links li{
  padding: 0 40px;
  list-style-type: none;
  transition: 0.3s;
}
.navigation-links li a{
  text-decoration: none;
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: 300;

}
.navigation-links li:hover{
  background-color: #680f4b
}
@media screen and (max-width: 1024px) {
  .navigation-logo{
    margin-left: 11%;
  }
  .navigation-links li{
    padding: 0 26px;
  }
  .navigation-links a{
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 768px) {
 
  .navigation-logo{
    padding-left: 25px;
  }
  .navigation-hamburger{
    display: block;
    position: absolute;
    top: 15px;
    right: 25px;
  }
  .navigation{
    flex-direction: column;
    align-items: flex-start;
    padding: 25px 0;
   
  }
  .navigation-links{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 92vh;
    margin: 0;
    padding: 0;
    width: 100%;
    display: none;
  }
  .navigation-links li{
    width: 100%;
    text-align: center;
    padding: 20px;

  }
  .navigation-links.active{
    display: flex;
  }
.navigation-hamburger-1.animado{
  transform: rotate(-45deg) translate(-10px, 8px);
}
.navigation-hamburger-2.animado{
  opacity: 0;
}
.navigation-hamburger-3.animado{
  transform: rotate(45deg) translate(-10px, -8px);
}
}
