/*COLORES*/
$colorbg: #ffffff;
$principalColor: #962671;
$btnColor:#AAC91E;
$colorText1: #ffffff;

/*MEDIDAS RECURRENTES*/
$threeSize: 3px;
$tenSize: 10px;
$eighteen:18px;
$twentySize: 20px;
$thirtySize: 30px;
$fourtySize: 40px;
$fifteySize: 50px;
$onehundredSize: 100px;


/*TIPOGRAFIA*/
$fonts: 'Roboto', sans-serif;
$fontSize: 24px;
$titleSize: 40px;

/*MEDIDAS IMG CARROUSEL*/
$carrouselWidth: 1238px;
$carrouselHeight: 550px;

/*MEIDAS RELATIVAS*/
$widht: 100%;
$topNovedades: 200px;



/*CARDS*/
$cardWidth: 250px;
$cardHeight: 190px;

